requests
pandas
sqlalchemy
pyodbc
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2
google-cloud-bigquery
google-auth
gspread
pandas
pyarrow
selenium
webdriver-manager





